asn1crypto==1.5.1
certifi==2018.10.15
cffi==1.16.0
chardet==3.0.4
cryptography==37.0.1
idna==2.7
pycparser==2.19
requests==2.31.0
six==1.11.0
urllib3==1.24.2
pyzmq==23.2.0
sympy==1.10.1
pvss==0.2.0
pytest
eth-brownie
python-snarks
ipfshttpclient
pymife
git+https://github.com/Zokrates/pycrypto